@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
}

.header {
  color: #fff;
  background-image: url(../public/heroimage-mobile.svg);
  background-size: 340px 300px;
  background-repeat: no-repeat;
  background-position: right -65px bottom;
}

.background {
  background-image: linear-gradient(90deg, #464646 0.41%, #1f1f1f 0.41%, #1f1f1f 50%, #464646 50%, #464646 50.41%, #1f1f1f 50.41%, #1f1f1f 100%);
  background-size: 280px;
  background-position: -74px;
}

@media (min-width: 640px) {
  .background {
    background-image: linear-gradient(90deg, #464646 0.62%, #1f1f1f 0.62%, #1f1f1f 50%, #464646 50%, #464646 50.62%, #1f1f1f 50.62%, #1f1f1f 100%);
    background-size: 162px 162px;
  }
  .header {
    background-image: linear-gradient(180deg, rgba(31, 31, 31, 0.00) 0%, #1F1F1F 100%), url(../public/heroimage-desktop.svg);
    background-size: 530px 230px, 480px 420px;
  }
}

@media (min-width: 1024px) {
  .header {
    background-size: 530px 410px, 680px 620px;
    background-position: right bottom, right -135px bottom 30px;
  }
  .interface-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 10px;
  }
  .interface-card {
    margin: 0;
  }
  .interface-card:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }
  .interface-card:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
  }
  .personalized-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 210px);
    column-gap: 8px;
    row-gap: 8px;
  }
  .personalized-card:first-child {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .personalized-card:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media (min-width: 1440px) {
  .header {
    background-position: right bottom, right -120px bottom 130px;
  }
}

.emphasis {
  background: -webkit-linear-gradient(rgba(134, 95, 219, 1), rgba(98, 40, 223, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
